$primary: #ae0721;
$accent1: #b4cded;
$accent2: #9d071d;

$light: #eff7cf;
$dark: #474647;

.primaryBg {
  background-color: $primary;
}

.blackBg {
  background-color: $black;
}

.accent1Bg {
  background-color: $accent1;
}

.accent2Bg {
  background-color: $accent2;
}

.darkBg {
  background-color: $dark;
}

.lightBg {
  background-color: $light;
}

.colorBox {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
