@import "./fonts";
@import "./colors";

* {
  font-family: "Source Sans Pro";
}

.textPrimary {
  color: $primary;
}

.textAccent1 {
  color: $accent1;
}

.textAccent2 {
  color: $accent2;
}

h1,
h2 {
  font-family: "Oswald";
}

h1 {
  font-weight: 100;
}

h3,
h4 {
  font-family: "Source Sans Pro";
  font-weight: 600;
}

p {
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px;
}

ul,
ol {
  padding-left: 0px;
  list-style-type: none;
  li {
    line-height: 160%;
  }
}
